/*Jonathan Petani's stylesheet*/
h1 {font-size:400%; font-family:Arial;}
h2 {font-size:300%;font-family:Arial;}
h3 {font-size:150%;font-family:Arial;}
p, address {font-size:135%;font-family:Tahoma;}
body{background-color:#e6f2ff;text-align:center;}
ul#nav {padding:10px;background-color:#cce6ff;}
ul#nav > li > a {color:#993399;text-decoration:none;display:block;font-size:250%;font-family:Trebuchet MS;}
ul#nav > li > a:hover {background-color:#99ddff;color:#862d86;border:2px solid #862d86;border-radius:50px;font-size:275%;}
ul#nav > li > a:active {background-color:#3377ff;}
div.select{width:75%;background-color:#cce6ff;padding:10px;margin-left:12.5%;}
div.select > ul > li > a {text-decoration:none;font-family:"Lucida Console", Monaco, monospace;float:left;display:block;font-size:150%;background-color:#ccccff;margin-left:6.5%;padding:15px;border-radius:225%;}
div.select > a {text-decoration:none;font-family:"Lucida Console", Monaco, monospace;display:block;font-size:150%;background-color:#ccccff;float:left;margin-left:39%;padding:15px;border-radius:225%;}
}
div.select > ul > li > a:hover, div.select > a:hover {padding:10px;}
div.select > ul > li > a:active, div.select > a:active {font-size:145%}
footer {background-color:#cceeff;height:15%;}
div.txt {text-align:left;background-color:#99e6ff;padding:10px;}
dt {font-size:200%;font-family:Arial Black;}
dd {font-size: 150%;font-family:Noto Sans;}
dl, dl > dt, dl > dd {background-color: #cce6ff;}
dl {border-radius: 5%;}